body{
    background-color: rgb(195, 151, 236);
}
h1{
    text-align: center;
    font-family: 'Concert One', cursive;
    font-size: 70px;
    color: rgb(250, 219, 142);
}
h3{
    text-align: center;
    font-family: 'Concert One', cursive;
    font-size: 50px;
    color: rgb(250, 219, 142);
}
label{
    color: rgb(250, 219, 142);
    text-align: center;
    font-size: 40px;
    font-family: 'Concert One', cursive;
    margin-left: 720px;
}
p{
    color: rgb(250, 219, 142);
    text-align: center;
    font-size: 30px;
    font-family: 'Concert One', cursive;
    margin-left: 5px;
}
span{
    color: rgb(183, 245, 204);
    text-align: center;
    font-size: 30px;
    font-family: 'Concert One', cursive;
    margin-left: 5px;
}
#enviar{
    margin-left: 800px;
}
#limpar{
    margin-left: 870px;
    margin-top: -67px;
}
#voltar{
    margin-left:928px;
}